html, body{
	padding: 0;
	margin: 0;
}

body {
	@topbottom_height: 3rem;

	width: 100%;
	font-family: 'PT Sans Narrow', sans-serif;

	header {
		width: 100%;
		height: @topbottom_height;
		background-color: #1565c0;
		color: white;
		font-size: 1.1em;

		& > div {
			display: inline-block;
			line-height: @topbottom_height;

			& > span {
				display: inline-block;
			}
		}

		#logo {
			width: 10%;
			float: left;
			padding-left: 4em;
			cursor: pointer;
		}	

		.options {

			span {
				display: inline-block;
				padding: 0 1em;
				cursor: pointer;
			}
		}

		.choice {
			display: inline-block;
			position: absolute;
			right: 0;

			.search {
				margin-right: 1em;

				input {
					height: @topbottom_height - 1.5em;
					font-size: 0.9em;
					font-family: 'PT Sans Narrow', sans-serif;
					padding: 0 .5em;
				}
			}

			.sign-in {
				background-color: #0d47a1;
				height: @topbottom_height;
				padding: 0 1em;
				cursor: pointer;
			}
		}
	}

	main {
		width: 100%;
		// YIKES!
		height: 120em;

		.center-box {
			position: relative;
			width: 50%;
			display: table;
			margin: 0 auto;
			margin-top: 3em;
			border-bottom: 1px solid silver;
			height: 700px;

			.welcome {
				text-align: center;

				h1 {
					font-family: 'Libre Baskerville', serif;
					font-size: 3em;
					letter-spacing: 2px;
				}

				.description {
					font-size: 1.2em;
				}
			}

			.upload-box {
				/* width: 100%;
				height: 30%;
				margin-top: 1em;
				border: 1px solid silver;*/
				position: relative;
				margin: 0 auto;
				top: 2em;
				width: 13em;
				height: 3em;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				background-color: #1e88e5;
				color: #eeeeee;
				cursor: pointer;

				-webkit-touch-callout: none; 
				-webkit-user-select: none;   
				-khtml-user-select: none;  
				-moz-user-select: none;     
				-ms-user-select: none;      
				user-select: none;

				span {
					display: inline-block;
					width: 85%;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
					text-align: center;
					font-size: 1.1em;
				}

				.dropdown-trigger {
					height: 100%;
					width: 15%;
					border-left: 1px solid #eeeeee;
					position: absolute;
					right: 0;
					cursor: pointer;

					&:hover {
						background-color: #1565c0;
						color: white;
					}

					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}

				label {
					position: absolute;
					width: 85%;
					height: 100%;
					cursor: pointer;
					z-index: 9999;
				}

				#bookElem {
					opacity: 0;
					position: absolute;
					z-index: -1;
				}
			}
		}

		#resultPage {
			display: none;

			.left {
				position: relative;
				float: left;
				width: 44%;
			}

			.right {
				position: relative;
				float: right;
				width: 44%;

				.subsection {

					.users {
						width: 100%;
						height: 70px;

						& > div {
							display: inline-block;
						}

						.avatar {
							float: left;
							width: 60px;
							height: 100%;
							background-image: url(http://www.ceskepotraviny.com/cache/img/4/4/4415339d2ceba308c863ecb7c6c53248.jpg);
							background-size: cover;
						}

						.username {
							width: 50px;
							float: right;
							height: 100%;
							line-height: 100%;
						}
					}
				}
			}

			& > div {
				padding: 0 1.8em;

				h2 {
					text-align: center;
				}

				.subsection {
					position: relative;
					width: 100%;

					&#basicInfo table {

						tr td {
							width: 15em;
						}
					}
				}
			}
		}
	}

	footer {
		position: relative;
		bottom: 0;
		width: 100%;
		height: @topbottom_height;
		background-color: #1565c0;
		color: white;
		font-size: 1.1em;

		span#copyright {
			line-height: @topbottom_height;
			padding-left: 2em;
		}
	}
}